<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dev.trietsch.alfred-azure-shortcuts</string>
	<key>connections</key>
	<dict>
		<key>TENANT-SELECTOR-UID</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>38863873-18DD-4920-A28E-1B8A1AF85CE8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>38863873-18DD-4920-A28E-1B8A1AF85CE8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C099F2A-5444-49DA-A2C1-0C4499D6F899</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C099F2A-5444-49DA-A2C1-0C4499D6F899</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7BCA0896-12A5-4CAF-AD27-B0EDB4447753</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7BCA0896-12A5-4CAF-AD27-B0EDB4447753</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>894ACD4B-387C-419D-9555-34800A4B7C2F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>894ACD4B-387C-419D-9555-34800A4B7C2F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ABA0DF5B-E3B5-4CB5-9D4B-66FE30AF879D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ABA0DF5B-E3B5-4CB5-9D4B-66FE30AF879D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F34201E5-52DD-45C8-9E1A-828DEFB2A724</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Robin Trietsch</string>
	<key>description</key>
	<string>azure shortcuts</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Azure Shortcuts</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:hotkey}</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>query=$1

./bin/tenants "${query}"
                    </string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>TENANT-SELECTOR-UID</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>query=$1

./bin/resources -resource-group "${resource_group}" -subscription "${subscription}" -tenant-id "${tenantId}" -query "${query}"
                    </string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>ABA0DF5B-E3B5-4CB5-9D4B-66FE30AF879D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:hotkey}</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>query=$1

./bin/subscriptions -tenant-id "${selectedTenantId}" "${query}"
                    </string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>38863873-18DD-4920-A28E-1B8A1AF85CE8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F34201E5-52DD-45C8-9E1A-828DEFB2A724</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>query=$1

./bin/resource-groups -subscription "${subscription}" -query "${query}" -tenant-id "${tenantId}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7BCA0896-12A5-4CAF-AD27-B0EDB4447753</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>subscription</key>
					<string>{query}</string>
					<key>tenant</key>
					<string>{var:tenantId}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5C099F2A-5444-49DA-A2C1-0C4499D6F899</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>resource_group</key>
					<string>{query}</string>
					<key>subscription</key>
					<string>{var:subscription}</string>
					<key>tenantId</key>
					<string>{var:tenantId}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>894ACD4B-387C-419D-9555-34800A4B7C2F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Shortcuts to Azure resources.

Default hotkey for using is `az &lt;query&gt;`.</string>
	<key>uidata</key>
	<dict>
		<key>TENANT-SELECTOR-UID</key>
		<dict>
			<key>note</key>
			<string>Select tenant (or auto-skip if single tenant)</string>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>38863873-18DD-4920-A28E-1B8A1AF85CE8</key>
		<dict>
			<key>note</key>
			<string>List subscriptions</string>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>5C099F2A-5444-49DA-A2C1-0C4499D6F899</key>
		<dict>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>7BCA0896-12A5-4CAF-AD27-B0EDB4447753</key>
		<dict>
			<key>note</key>
			<string>List resource groups for subscription</string>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>894ACD4B-387C-419D-9555-34800A4B7C2F</key>
		<dict>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>ABA0DF5B-E3B5-4CB5-9D4B-66FE30AF879D</key>
		<dict>
			<key>note</key>
			<string>List resources for resource group</string>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>F34201E5-52DD-45C8-9E1A-828DEFB2A724</key>
		<dict>
			<key>xpos</key>
			<real>900</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>hotkey</key>
		<string>az</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
<string>1.2.0</string>
	<key>webaddress</key>
	<string>https://github.com/trietsch/alfred-azure-shortcuts</string>
</dict>
</plist>
